body{
    background-color: lightpink;
    text-align: center;
}
#btn{
    border-radius: 5px;
    font-size: 3em;
    border: none;
    width: 300px;
    height: 60px;
    padding: 5px 25px;
}
#headerh1{
    font-size: 3em;
    color: black;
}